{% extends "base.html" %}
{% block title %} about me {% endblock %}
{% block content %}

<div class='readable-text-block'>
    <h1>About Me</h1>
    <p>Driven by a profound curiosity for technology and its transformative potential, I am a dedicated enthusiast in the field of computer science. My journey in this domain is marked by a continuous pursuit of knowledge and a hands-on approach to problem-solving through various projects. I thrive on exploring innovative solutions, building robust systems, and delving into the intricacies of software development and infrastructure. This space serves as a reflection of my commitment to practical application and ongoing learning, showcasing a selection of personal initiatives that illustrate my dedication to the craft. I am always eager to engage with new challenges and contribute to impactful technological advancements.</p>
</div>

{% endblock %}
