{% extends "base.html" %}
{% block title %} home {% endblock %}
{% block content %}
<div class="button-grid-container">
    <a href="https://github.com/aGuyCalledT" target="_blank" class="action-button">
        <img src="/static/github-icon.png" alt="GitHub Icon" class="button-icon" style="width: 50px;">
        <span>github</span>
    </a>
    <a href="http://www.t-server.org:8096" target="_blank" class="action-button">
        <img src="/static/player-icon.png" alt="Mediathek Icon" class="button-icon" style="width: 60px;">
        <span>media library</span>
    </a>
    <a href="{% url 'webapp:wishlist' %}" class="action-button">
        <img src="/static/list-icon.png" alt="Wishlist" class="button-icon" style="width: 50px;">
        <span>movie wishlist</span>
    </a>
    <a href="#" class="action-button">
        <img src="/static/ghost-icon.png" alt="Ghost" class="button-icon" style="width: 70px;">
        <span>ghost</span>
    </a>
    <a href="#" class="action-button">
        <img src="/static/package-icon.png" alt="Projects" class="button-icon" style="width: 40px;">
        <span>projects</span>
    </a>
    <a href="#" class="action-button">
        <img src="/static/dnd-icon.png" alt="DnD" class="button-icon" style="width: 60px;">
        <span>d&d</span>
    </a>
</div>
<div class='readable-text-block'>

<h2>welcome</h2>
<p>Welcome to my digital space. This website serves as a curated portal to my ongoing projects and interests, offering a direct glimpse into my practical applications of technology and creative endeavors. I'm genuinely delighted to share this work with you. Here, you'll find a centralized point of access to various initiatives, designed for easy navigation and quick discovery. Should you have any questions, feedback, or ideas, please feel free to reach out via the contact form. I'm always open to new perspectives and collaborative opportunities.</p>
</div>

{% endblock %}
